* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url("https://images.unsplash.com/photo-1466692476868-aef1dfb1e735?auto=format&fit=crop&w=1920&q=80");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.mensagem {
    font-family: Arial, sans-serif;
    font-size: 5rem;
    font-weight: bold;
    text-align: center;

    background: linear-gradient(
        90deg,
        #ff0000,
        #ff7f00,
        #ffff00,
        #00ff00,
        #00ffff,
        #0000ff,
        #8b00ff,
        #ff0000
    );

    background-size: 400% 100%;

    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;

    animation: arcoiris 5s linear infinite;

    text-shadow:
        0 0 10px rgba(238, 53, 53, 0.8),
        0 0 20px rgba(255,255,255,0.6),
        0 0 30px rgba(255,255,255,0.4);
}

@keyframes arcoiris {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 400% 50%;
    }
}